#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  background-color: rgb(40, 40, 43);
}

.drum-pad {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 22px;
}

.drum-pad:hover {
  background-color: rgb(0, 81, 255);
  cursor: pointer;
}

.is-pressed{
  background-color: rgb(0, 81, 255);
  color: white;
}

#drums { 
  width: 300px;
}

#display {
  width: 150px;
  height: 50px;
  background-color: rgb(110, 110, 110);
  color: rgb(83, 179, 83);
}