#calculator {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

}

#display {
  width: 96%;
  background-color: rgb(1, 148, 1);
  text-align: end;
  font-family: digital;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#clear { grid-area: 1 / 1 / 2 / 3; }
#multiply { grid-area: 1 / 3 / 2 / 4; }
#divide { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; }
.div10 { grid-area: 4 / 1 / 5 / 2; }
.div11 { grid-area: 4 / 2 / 5 / 3; }
.div12 { grid-area: 4 / 3 / 5 / 4; }
.zero { grid-area: 5 / 1 / 6 / 3; }
#add { grid-area: 2 / 4 / 3 / 5; }
#subtract { grid-area: 3 / 4 / 4 / 5; }
#decimal { grid-area: 5 / 3 / 6 / 4; }
#equals { grid-area: 4 / 4 / 6 / 5; }

#actions {
  display: flex;
  flex-direction: column;
}

#clear {  
  background-color: brown;
}

#clear:hover {  
  background-color: rgb(141, 35, 35);
}

.btn:hover{
  font-weight: bold;
}